/* responsive Designe */

@media screen and (max-width:560px) {
  /* section1 */
  .fadeIn{
    font-size:30px;
    color:white;
    animation-delay: 3s;
  }
  .box {
    font-size: 8px;
  }

  .detail_sentence{
  margin-bottom: 30px;
  font-size:unset;
  }
  
  /* section2 */
  .section2{	 	 
    flex-direction: column;
    padding: unset;
  }
  .sentence {
    padding: unset; 
    width:80vw;
}
  #topic1 {
    padding: 20px;
    font-size: 20px;
    margin-top: unset;
    }
    
  .button1 {
    width: unset;
  }
  #topic2{
    color:white;
    font-size:20px;
    margin-top: 8px;
    margin-bottom:0px;
  }
  
  /* section3 */
  .section3{
    display: none;
  }

  /* section4 */
  .section4 {
    padding: unset;
    height: 100vh;
  }

  .frame {
  display: block; 
 }
  .frame_box {
    display: flex;
    flex-direction: column;
    align-items: center; 
    margin: 20px;
  }
 
  
  
  .frame_box_sentence {
    font-size: 9px;
    color: white;
    /* text-align: center; */
  }

  .section5 {
    display: unset; 
    
  }
  .questionnair {
    display: unset; 
  }

  .map{
    width:100%;
  }

  .frame_box_img1 {
    height: 100px;
    width: 180px;
  }

  .frame_box_img2 {
    height: 100px;
    width: 180px;
  }


  .frame_box_img3 {
    height: 100px;
    width: 180px;
  }

  /* // section5 */
  #topic3 {
    padding: 30px;
    font-size: 30px;
    text-align: center;
  }

  .modalBtn{
    width: 50%;
  }

  .section5{
    position: unset;
  }
  .form{
    position:relative;
  }
  
  .inc_information{
    font-size:unset;
  }
}	 	 