a {
  text-decoration: none;
  color:white;
  }
  


/* section1 */
.section1{
  height:100vh;
  width: 100vw;
  /* background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover; */
}

.mainImage1{
  height: calc(100vh - 100px) ;
  width:100vw;
  background-image: url(./1.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
.mainImage2{
  height: calc(100vh - 100px) ;
  width:100vw;
  background-image: url(./2.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
  z-index: 300;
}
.mainImage3{
  height: calc(100vh - 100px) ;
  width:100vw;
  background-image: url(./3.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}
.mainImage4{
  height: calc(100vh - 100px) ;
  width:100vw;
  background-image: url(./4.jpg);
  background-repeat: no-repeat;
  background-size: cover; 
}

.viewer {
  margin: 0 auto;
  height: calc(100vh - 100px) ;
  width:100vw;
  text-align: left;
  overflow: hidden;
}

.viewer ul {
  height: calc(100vh - 100px) ;
  width:100vw;
  text-align: left;
  overflow: hidden;
  position: relative;
}

.viewer ul li {
  top: 0;
  left: 0;
  height: calc(100vh - 100px) ;
  width:100vw;
  display: none;
  position: absolute;
}

.header{
  height:100px;
  width:100vw;
  background-color: #333030;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  align-items: center;
  justify-content: space-between;
}
.left_header{
  padding:40px;
  width:200px;
  color:white;
  font-size:20px;
  transition: all 0.5s;
}
.right_header{
  width : calc(100vw - 200px) ;
  text-align: right;
  display:flex;
  justify-content: flex-end;
  margin-right: 10px;
}
.box{
  padding:15px;
  color:white;
  font-size:20px;
  transition: all 0.9s;
  
}

.box_word{
  height:calc(100vh - 140px);
  text-align:center;
  display: flex;
  justify-content: center;
  flex-direction: column;
}

/* animate.css */
.fadeIn{
  font-size:50px;
  color:white;
  animation-delay: 3s;
}


/* section2 */
.section2{
  width:100vw;
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.sentence{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  width:50vw;
}

#topic1{
  font-size:60px;
  padding:20px;
  margin-top: 20px;
}

.detail_sentence{
  font-size:25px;
  margin-bottom: 40px;
}

/* //アニメーション */
.cp_imghover {
	overflow: hidden;
	width:calc(100vw - 50vw);
	margin: 2em auto;
	border: 10px solid #ffffff;
	box-shadow: 0 0 5px #cccccc;
	cursor: pointer;
}
/*zoomin*/
.cp_zoomin img {
	width:calc(100vw - 50vw);
	
	-webkit-transition: all 1s ease;
	transition: all 1s ease;
}
.cp_zoomin img:hover {
	-webkit-transform: scale(1.5,1.5);
	transform: scale(1.5,1.5);
}

.button1{
  padding:20px;
  color:white;
  background-color: black;
  padding:10px;
  border-radius: 20px;
  text-align: center;
  font-size:16px;
  width:25%
}

/* section3 */
.section3{
  height:100vh;
  width:100vw;
}

.bigframe{
  width:100%;
  height:100%;
  display: flex;
}

.img_content{
 width:25%;
 padding:5px;
 padding-bottom:40px;
}

.img_box1{
  height:70%;
  margin-bottom: 10px;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 0.7;
  transition: all 0.5s;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #cccccc;
}

.img_box1:hover {
  opacity: 1.0;
  transform: scale(0.95, 0.95);
}

.img_box2{
  height:30%;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid;
  opacity: 0.7;
  transition: all 0.5s;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #cccccc;
}
.img_box2:hover {
  opacity: 1.0;
  transform: scale(0.95, 0.95);
}

.img_box3{
  height:100%;
  padding-bottom: 10px;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid;
  opacity: 0.7;
  transition: all 0.5s;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #cccccc;
}
.img_box3:hover {
  opacity: 1.0;
  transform: scale(0.95, 0.95);
}
.img_box4{
  height:30%;
  margin-bottom:10px;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid;
  opacity: 0.7;
  transition: all 0.5s;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #cccccc;
}
.img_box4:hover {
  opacity: 1.0;
  transform: scale(0.95, 0.95);
}
.img_box5{
  height:70%;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid;
  opacity: 0.7;
  transition: all 0.5s;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #cccccc;
}
.img_box5:hover {
  opacity: 1.0;
  transform: scale(0.95, 0.95);
}
.img_box6{
  height:60%;
  margin-bottom:10px;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid;
  opacity: 0.7;
  transition: all 0.5s;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #cccccc;
}
.img_box6:hover {
  opacity: 1.0;
  transform: scale(0.95, 0.95);
}
.img_box7{
  height:40%;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  border: 0.5px solid;
  opacity: 0.7;
  transition: all 0.5s;
  border: 5px solid #ffffff;
  box-shadow: 0 0 5px #cccccc;
}
.img_box7:hover {
  opacity: 1.0;
  transform: scale(0.95, 0.95);
}

.section4{
  height:100vh;
  width:100vw;
  background-color:#333030;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}


#topic2{
  color:white;
  font-size:40px;
  margin-bottom:50px;
  text-align: center;
}

.frame{
  display: flex;
  height: 80%;
  width: 100%;
  justify-content: center;
}

.frame_box{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  /* padding:10px; */
  margin:25px;
}

.frame_box_sentence{
  font-size:18px;
  color:white;
  /* text-align: center; */
  margin-top: 25px;
  width:190px;
}

.frame_box_img1{
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
  width: 100%;
  transition: all 0.5s;
}

.frame_box_img1:hover {
  opacity: 1.0;
  transform: scale(1.1, 1.1);
}

.frame_box_img2{
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
  width: 100%;
  transition: all 0.5s;
}
.frame_box_img2:hover {
  opacity: 1.0;
  transform: scale(1.1, 1.1);
}

.frame_box_img3{
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  height: 40%;
  width: 100%;
  transition: all 0.5s;
}
.frame_box_img3:hover {
  opacity: 1.0;
  transform: scale(1.1, 1.1);
}

/* section5 */

.section5{
  height:85vh;
  width:100vw;
  display: flex;
  position:relative;
}

.modalBtn {
  font-size: 16px;
  text-align: center;
  cursor: pointer;
  padding:20px;
  color:rgba(255, 255, 255, 0.308);
  background-color: black;
  padding:10px;
  border-radius: 20px;
  text-align: center;
  font-size:16px;
  width:90%
}

/*--- オーバーレイ ---*/
.overlay {
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.8);
}

/*--- モーダルウィンドウ ---*/
.modal {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  z-index: 2;
  width: 50%;
  height: 80px;
  padding: 30px;
  margin: auto;
  background: #fff;
  border-radius: 5px;
}
.modal .modalTxt {
  font-size: 20px;
  font-weight: normal;
  text-align: center;
  margin-bottom: 40px;
}
.modal .close {
  text-align: center;
  cursor: pointer;
}


.map{
  width: 50%;
  height:85vh;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
  display:flex;
  align-items: center;
  justify-content: center;
}
.fadein_text,
.fadein_text span {
  opacity: 0;
  color:white;
  font-size:30px;
  width:80%;

}


.questionnair{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width:50%;
  height:85vh;
}

#topic3{
  padding:30px;
  font-size:60px;
  
}

.form{
  padding:30px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.form_area{
  padding:10px;
}

.button2{
  padding:20px;
  color:rgba(255, 255, 255, 0.308);
  background-color: black;
  padding:10px;
  border-radius: 20px;
  text-align: center;
  font-size:16px;
  width:90%

}

/* //footer */
.footer{
  height:15vh;
  width:100vw;
  background-color: #333030;
  color:white;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
}

.inc_information{
  font-size:25px;
}

.icon{
  position: absolute;
  right:10px;
}




