.section1{
  height:100vh;
  width: 100vw;
  background-image: url(./cebu1.jpeg);
  background-repeat: no-repeat;
  background-size: cover;
}
.header{
  height:140px;
  width:100vw;
  background-color: aqua;
  display: flex;
  /* flex-direction: column; */
  /* justify-content: flex-end; */
  align-items: center;
  justify-content: space-between;
}
.left_header{
  padding:40px;
  width:200px;
}
.right_header{
  width : calc(100vw - 200px) ;
  text-align: right;
  display:flex;
  justify-content: flex-end;
}
.box{
  padding:15px;
}

.box_word{
  height:calc(100vh - 140px);
  text-align:center;
  display: flex;
  
  justify-content: center;
  flex-direction: column;
}

.word1{
  font-size:140px;
}
.word2{
  padding-left:40px;
}

.section2{
  height:100vh;
  width:100vw;
  display: flex;
  align-items: center;
  padding: 40px 0;
}

.sentence{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding:30px;
  width:50vw;
}

.topic1{
  font-size:60px;
  padding:20px;
  margin-top: 20px;
}

.detail_sentence{
  font-size:25px;
  margin-bottom: 40px;
}

.picture{
  text-align: center;
  width:calc(100vw - 50vw);
}

.button1{
  padding:20px;
  color:white;
  background-color: black;
  padding:10px;
  border-radius: 20px;
  text-align: center;
  font-size:16px;
  width:25%
}


